{%extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Ajouter offre:)
{% endblock %}

{% block body %}
<h1>Ajouter une offre</h1>

{{ form_start(form) }}

{{ form_row(form.Title) }}

{{ form_row(form.Description)}}

{{ form_row(form.Adresse) }}

{{ form_row(form.CodePostal) }}

{{ form_row(form.Ville) }}

{{ form_row(form.typeContrat) }}

{{ form_row(form.contrat) }}





{{ form_row(form.finDeLaMission) }}




<button type="submit" class="btn btn-success">Ajouter</button>

{{ form_end(form) }}


{% endblock %}