{%extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
<h1>Supprimer cette offre</h1>

<hr/>
<h4>{{offre.Title}}</h4>
	<p>
		<strong>Description</strong>

    <p>{{offre.Description}}</br></p>
    <p>Ville: {{offre.Ville}} </br>   Adresse: {{offre.Adresse}} </br>  Contrat: {{offre.contrat.Name }} </br>Type de contrat: {{offre.typeContrat.name }} </br>
    
    		{% if offre.contrat.Name is same as("CDD") or offre.contrat.Name is same as("FREELANCE")%}
						Fin de la mission: {{offre.FinDeLaMission | date('d/m/Y')}}</p>
						
				{% endif %}
    <p>Dernière mise à jour: {{offre.dateDeMiseAJour | date('d/m/Y')}}   </br> Date de création: {{offre.DateDeCreation | date('d/m/Y')}}</p>
<hr/>
Etes-vous sûr de vouloir supprimer définitivement cette offre?<br/>
<a href="{{path('supprimer', {'id':offre.id}) }}" class="btn btn-danger">Oui</a>
<a href="{{path('offres')}}" class="btn btn-primary">Non</a>
{% endblock %}
