{% extends 'base.html.twig' %}

{% block title %}Offres de qualité
{% endblock %}

{% block body %}

	

	<section class="offres">
		<center><h1>Liste Complète</h1></center>
	
		{% for offre in offres %}
			<div class="card border-dark mb-3">
  				<div class="card-header">{{offre.typeContrat.name}}</div>
  					<div class="card-body">
    					<h4 class="card-title">{{offre.Title}}</h4>
    					<p class="card-text">Ville: {{offre.Ville}}</br> Contrat: {{offre.contrat.Name }}</p>
						{% if offre.contrat.Name is same as("CDD") or offre.contrat.Name is same as("FREELANCE")%}
						<p>Fin de la mission: {{offre.FinDeLaMission | date('d/m/Y')}}</p>
						
						{% endif %}
						<a href="{{path('offreShow', {'id':offre.id}) }}" class="btn btn-primary">Montrer</a>
  					</div>
			</div>
				
			
			
			


		{% endfor %}

	</section>
{% endblock %}
