{%extends 'base.html.twig' %}

{% block body %}
	<h1>{{offre.Title}}</h1>
	<p>
		<strong>Description</strong>

    <p>{{offre.Description}}</br></p>
    <p>Ville: {{offre.Ville}} </br>   Adresse: {{offre.Adresse}} </br>  Contrat: {{offre.contrat}} </br>Type de contrat: {{offre.typeDeContrat}} </br></p>
    </br>
    <p>Dernière mise à jour: {{offre.dateDeMiseAJour | date('d/m/Y')}}   </br> Date de création: {{offre.DateDeCreation | date('d/m/Y')}}</p>
    <a href="{{path('postuler', {'id':offre.id}) }}" class="btn btn-primary">Postuler</a>
    <a href="{{path('offres')}}" class="btn btn-primary">Retour</a>


{% endblock %}
